<h1>This is a list of my contacts, a contact list if you will:</h1>
<% @contacts.each do |contact|%>
  <h2><%= contact.name %></h2>
  <h3><%= contact.phone_number %></h3>
  <h4><%= contact.email %></h4>
  <h4><%= contact.address %></h4>
  <br>
<% end %>