<%= form_tag '/contact_submitted', method: :post do %>
<h3> Name: </h3> <input type='text' name='name'>
<h3> Phone Number: </h3> <input type='text' name='phone_number'>
<h3> Email: </h3><input type='text' name='email'>
<h3> Address: </h3><input type='text' name='address'>
<div class='contact_entry_button'><input type='submit' value='Submit to me.'></div>

<% end %>