<%= form_tag '/contacts_list', method: :post do %>
<h3> First Name: </h3> <input type='text' name='first_name'>
<h3> Middle Name: </h3> <input type='text' name='middle_name'>
<h3> Last Name: </h3> <input type='text' name='last_name'>
<h3> Phone Number: </h3> <input type='text' name='phone_number'>
<h3> Email: </h3><input type='text' name='email'>
<h3> Address: </h3><input type='text' name='address'>
<h3> Bio: </h3> <input type='text' name='bio'>
<div class='contact_entry_button'><input type='submit' value='Submit to me.'></div>

<% end %>